* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* Variáveis */
html {
  --black: #000;
  --white: #fafafa;
  --green: #1bf59e;

  /* 1rem = 16px (User Agent) -- numero em px dividido por 16 = n em rem */
  /* 1rem = 16px (User Agent) = 100% */
  font-size: 62.5%; /* setando o valor em 10px */
}

body {
  display: flex;
  height: 100vh;
  background: var(--backgroud);
}

body,
button,
input,
textarea {
  /* clamp = intervalo de tamanho */
  font-size: clamp(14px, 1.6rem, 2vw);

  font-family: "Open Sans", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

.content {
  width: 100%;
  margin: 0 auto;
  background: var(--black);
  color: var(--white);
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

button {
  border-radius: 1rem;
  font: normal 800 2rem/2.5rem "Mulish", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2.4rem 6.1rem;

  margin-top: 2.4rem;

  max-width: 39.2rem;

  background: var(--green);
  color: var(--black);

  transition: filter 0.2s;

  cursor: pointer;
}

/* 
button:hover,
.button:hover {
  filter: brightness(1.2);
}

button.outlined,
.button.outlined {
  background: var(--white);
  color: var(--blue);
  border: 0.2rem solid var(--blue);
} */
