header {
  background: var(--black);
  margin-top: 50px;
}

header span {
  font: normal 700 1.6rem/2rem "Mulish", sans-serif;
  color: var(--white);
}

#banner {
  background: var(--black);
}

#banner button {
  margin-bottom: 15.5rem;
}

.container-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 10rem;
}

.tituloBanner {
  font: normal 700 4rem/4.8rem "Poppins", sans-serif;
  width: 31.8rem;
}

.texto {
  font: normal 600 1.8rem/2.8rem "Mulish", sans-serif;
  width: 43rem;
}

main {
  background: var(--white);
  max-width: 1180px;
  margin: 0 auto;
}

.boxControleSimples {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15rem;
}

.controleSimples .titulo {
  font: normal 700 5.6rem/6rem "Poppins", sans-serif;
  color: var(--black);
  max-width: 50.2rem;
}

.controleSimples .texto {
  color: var(--black);
  max-width: 47.7rem;
  margin-top: 1.6rem;
}

.boxEntenda {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 15rem;
}

.boxEntenda .tituloEntenda {
  font: normal 700 4rem/4.8rem "Poppins", sans-serif;
  max-width: 59.8rem;
  color: var(--black);
}

/* FOOTER */

footer {
  background: var(--black);
  height: 40rem;
  color: var(--white);

  text-align: center;
  margin-top: 7.5rem;
}

.h4Footer {
  font: normal 700 3rem/4.5rem "Poppins", sans-serif;
  margin-top: 2.4rem;
}

.textFooter {
  font: normal 400 2.4rem/3.6rem "Montserrat", sans-serif;
  margin-top: 2.4rem;
  display: block;
}

/*
main .container {
  width: min(36.3rem, 100%);
}

main h2 {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-size: clamp(20px, 5vw, 2.8rem);
  margin-bottom: 2.4rem;
}

input {
  border: 0.2rem solid var(--grey-blue);
  padding: 0 1.6rem;
}

input,
button,
.button {
  width: 100%;
  margin-bottom: 1.8rem;
}

.content header {
  width: 80%;
  margin: 3.5rem auto;
}

.content header img {
  width: 16.7rem;
} */
