.content-menu,
.menu-bg {
  background: var(--black);
}

.content-menu {
  padding-top: 60px;
  max-height: 600px;
}

.menu-bg {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bg nav a {
  font: normal 700 16px/21px "Mulish", sans-serif;
  color: #fff;
}

.banner {
  /* height: 80vh; */
  color: #fff;
}

.container-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
}

.banner-titulo {
  width: 318px;
}

.banner-texto {
  width: 420px;
  margin-top: 20px;
}

.banner-titulo .titulo-banner {
  font: normal 700 40px/48px "Poppins", sans-serif;
}

.banner-texto .texto-banner {
  font: normal 600 18px/28px "Mulish", sans-serif;
}

.container-botao .botao {
  background: #1bf59e;
  padding: 24px 61px;
  border-radius: 10px;
  font: normal 800 20px/25px "Mulish", sans-serif;
  text-align: center;
  color: var(--black);
  max-width: 392px;
  display: block;
  margin: 20px auto;
}

.container-botao {
  margin-bottom: 150px;
}

main {
  max-width: 1180px;
  margin: 0 auto;
}

.container-controleSimples {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.controleSimples-titulo .titulo-controleSimples {
  font: normal 700 56px/60px "Poppins", sans-serif;
  max-width: 502px;
}

.controleSimples-texto {
  margin-top: 16px;
}

.controleSimples-texto .texto-controleSimples {
  font: normal 600 18px/28px "Mulish", sans-serif;
  max-width: 477px;
}

.entenda .container-textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  text-align: center;
}

.entenda-titulo .titulo-entenda {
  font: normal 700 40px/48px "Poppins", sans-serif;
  max-width: 598px;
}

.entenda-texto {
  margin-top: 25px;
}

.entenda-texto .texto-entenda {
  font: normal 600 18px/28px "Mulish", sans-serif;
  max-width: 752px;
}

.container-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  max-height: 462px;
}

.box-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 314px;
  max-height: 462px;
}

.titulo-icon {
  font: normal 700 28px/36px "Poppins", sans-serif;
  max-width: 314px;
  margin-top: 40px;
}

.texto-icon {
  font: normal 600 18px/28px "Mulish", sans-serif;
  max-width: 277px;
  margin-top: 25px;
}

.container-conquisteTudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
}

.titulo-conquisteTudo {
  font: normal 700 40px/48px "Poppins", sans-serif;
  max-width: 321px;
}

.texto-conquisteTudo {
  font: normal 600 18px/28px "Mulish", sans-serif;
  max-width: 543px;
  margin-top: 20px;
}

/* FOOTER */

footer {
  background: var(--black);
  height: 400px;
  color: var(--white);
  margin-top: 140px;
}

.container-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
}

.titulo-footer {
  font: normal 700 30px/45px "Poppins", sans-serif;
  margin-top: 25px;
}

.texto-footer {
  font: normal 400 24px/36px "Montserrat", sans-serif;
  letter-spacing: -2px;
  margin-top: 8px;
}
