.content-menu,
.menu-bg {
  background: var(--black);
}

.content-menu {
  padding-top: 60px;
  max-height: 600px;
}

.menu-bg {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu-bg nav a {
  font: normal 700 16px/21px "Mulish", sans-serif;
  color: #fff;
}

.banner {
  /* height: 80vh; */
  color: #fff;
}

.container-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
}

.banner-titulo {
  width: 318px;
}

.banner-texto {
  width: 420px;
  margin-top: 20px;
}

.banner-titulo .titulo-banner {
  font: normal 700 40px/48px "Poppins", sans-serif;
}

.banner-texto .texto-banner {
  font: normal 600 18px/28px "Mulish", sans-serif;
}

.container-botao .botao {
  background: #1bf59e;
  padding: 24px 61px;
  border-radius: 10px;
  font: normal 800 20px/25px "Mulish", sans-serif;
  text-align: center;
  color: var(--black);
  max-width: 392px;
  display: block;
  margin: 20px auto;
}

.container-botao {
  margin-bottom: 150px;
}

/* MAIN */

main {
  max-width: 1180px;
  margin: 0 auto;
}

.container-controleSimples {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 150px;
}

.controleSimples-titulo .titulo-controleSimples {
  font: normal 700 56px/60px "Poppins", sans-serif;
  max-width: 502px;
}

.controleSimples-texto {
  margin-top: 16px;
}

.controleSimples-texto .texto-controleSimples {
  font: normal 600 18px/28px "Mulish", sans-serif;
  max-width: 477px;
}

/* SECTION ENTENDA */

.entenda .container-textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 150px;
}

.entenda-titulo .titulo-entenda {
  font: normal 700 40px/48px "Poppins", sans-serif;
  max-width: 598px;
}

.entenda-texto {
  margin-top: 25px;
}

.entenda-texto .texto-entenda {
  font: normal 600 18px/28px "Mulish", sans-serif;
  max-width: 700px;
}

.entenda .container-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  /* border: 1px #1bf59e solid; */
}

.entenda .box-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  margin: 0 auto;
}

.entenda .box-icon img {
  align-self: center;
}

.titulo-icon {
  font: normal 700 28px/36px "Poppins", sans-serif;
  max-width: 314px;
  margin-top: 40px;
  /* border: 1px red solid; */
  align-self: center;
}

.texto-icon {
  font: normal 600 18px/28px "Mulish", sans-serif;
  max-width: 277px;
  margin-top: 25px;
  align-self: center;
}

/* SECTION CONQUISTETUDO */

.container-conquisteTudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 140px;
}

.titulo-conquisteTudo {
  font: normal 700 40px/48px "Poppins", sans-serif;
  max-width: 321px;
}

.texto-conquisteTudo {
  font: normal 600 18px/28px "Mulish", sans-serif;
  max-width: 543px;
  margin-top: 20px;
}

/* FOOTER */

footer {
  background: var(--black);
  height: 400px;
  color: var(--white);
  margin-top: 140px;
}

.container-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
}

.titulo-footer {
  font: normal 700 30px/45px "Poppins", sans-serif;
  margin-top: 25px;
}

.texto-footer {
  font: normal 400 24px/36px "Montserrat", sans-serif;
  letter-spacing: -2px;
  margin-top: 8px;
}

@media (max-width: 1024px) {
  .container-controleSimples {
    padding: 0 20px;
    flex-wrap: nowrap;
  }

  .container-textos {
    margin: 0 20px 0;
  }

  .controleSimples-titulo {
    font: normal 700 40px/48px "Poppins", sans-serif;
  }
}

@media (max-width: 768px) {
  .container-controleSimples {
    padding: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container-controleSimples img {
    order: 2;
  }

  .container-textos {
    margin: 0 20px 40px;
    text-align: center;
    max-width: 600px;
  }

  .controleSimples-titulo {
    font: normal 700 40px/48px "Poppins", sans-serif;
  }
}

@media (max-width: 550px) {
  .titulo-footer,
  .texto-footer {
    text-align: center;
    padding: 0 20px;
  }

  .container-botao {
    padding: 0 10px;
  }
}
